h1 , h2 , h3
{
	color: red;
}
P
{
	font-family: Comic Sans MS
}
p
{
color: aqua;
}
body
{
	background-image: url("aa985bc73923233453b59418fa5d2cbc2e9c481b.jpg");
}
li
{
	color: #FFFFFF;
}